<html>
  <head>
    <title>Three.js terrain</title>
    <style>canvas { width: 100%; height: 100% }</style>
  </head>
  <body>
    <script id="lod_vertex" type="x-shader/x-vertex">@{lod_vertex}@</script>
    <script id="lod_fragment" type="x-shader/x-fragment">@{lod_fragment}@</script>
    <script id="lighting" type="x-shader/x-fragment">@{lighting}@</script>
    <script id="simplex_noise" type="x-shader/x-fragment">@{simplex_noise}@</script>
    <script id="level_of_detail" type="x-shader/x-fragment">@{level_of_detail}@</script>

    <script src="../bower_components/threejs/build/three.js"></script>
    <script src="../build/synthesis.js"></script>
    <script src="js/OrbitControls.js"></script>
    <script type="application/javascript">@{terrain}@</script>
  </body>
</html>
